
<h1 style="color: forestgreen">Testna stranica</h1>

<p>Ovo je testna stranica.</p>

@{
    var datum = DateTime.Now;
    // var poruka = "Ovo je poruka dobrodošlice";

    // if (datum.DayOfWeek == DayOfWeek.Saturday || datum.DayOfWeek == DayOfWeek.Sunday)
    // {
    //     poruka = "Ugodan vikend! :)";
    // } 
    // else
    // {
    //     poruka = "Još radimo :(";
    // }
}

<h2>@datum</h2>

@* <h3>@poruka</h3>
 *@

@if (DateTime.Today.DayOfWeek == DayOfWeek.Saturday || DateTime.Today.DayOfWeek == DayOfWeek.Sunday)
{
    @:Ugodan vikend! :)
}
else
{
    @:Još radimo :(
}

<div>
    @for (int i = 0; i < 5; i++)
    {
        @i.ToString()
        <br />
    }
</div>
